.box {
  border: 1px solid red;
}

.login-card {
  width: 30%;
}

.avatar-container {
  position: relative;

  .avatar {
    width: 35px;
    height: 35px;
  }

  .dropdown-list {
    position: absolute;
    bottom: -90px;
    border: 1px solid #dee2e6;
    z-index: 10;

    button {
      border: none;
      background-color: white;
      text-align: left;

      &:hover {
        background-color: #f8f9fa;
      }
    }
  }
}

.group-card {
  &:hover {
    cursor: pointer;
    background-color: #f8f9fa;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  min-height: 95vh;

  .form-control {
    margin-top: auto;

    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid #dee2e6;
    }
  }
}
