.box {
  border: 1px solid red;
}

a {
  text-decoration: none;
}

.avatar {
  position: relative;

  .avatar-btn {
    width: 35px;
    height: 35px;
  }

  .dropdown-list {
    position: absolute;
    bottom: -90px;
    border: 1px solid #dee2e6;
    z-index: 10;
    width: 150px;

    button {
      border: none;
      background-color: white;
      text-align: left;

      &:hover {
        background-color: #f8f9fa;
      }
    }
  }
}

.layout {
  height: 100vh;

  .left-pane {
    height: 100vh;
    background-color: #ECEFF1;
  }
}

.sign-in, .sign-up, .not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found {
  flex-direction: column;

  .err-code {
    font-size: 60px;
  }
}

.profile {
  position: relative;
  padding: 100px 300px;

  .btn-close {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.chat-container {
  height: 100vh;

  .header {
    border-bottom: 1px solid #dee2e6;
  }

  .chat-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }
}
